<!doctype html>
<html lang="en"class="spectrum spectrum--medium spectrum--light">
  <head>
    <meta charset="UTF-8">
    <title>Configure Custom Event</title>
    <link rel="stylesheet"  href="../global.css">
    <!-- Include global variables first -->
    <link rel="stylesheet" href="../node_modules/@spectrum-css/vars/dist/spectrum-global.css">

    <!-- Include only the scales your application needs -->
    <link rel="stylesheet" href="../node_modules/@spectrum-css/vars/dist/spectrum-medium.css">

    <!-- Include only the colorstops your application needs -->
    <link rel="stylesheet" href="../node_modules/@spectrum-css/vars/dist/spectrum-light.css">

    <!-- Include index-vars.css for all components you need -->
    <link rel="stylesheet" href="../node_modules/@spectrum-css/page/dist/index-vars.css">
    <link rel="stylesheet" href="../node_modules/@spectrum-css/typography/dist/index-vars.css">
    <link rel="stylesheet" href="../node_modules/@spectrum-css/icon/dist/index-vars.css">
    <link rel="stylesheet" href="../node_modules/@spectrum-css/button/dist/index-vars.css">
    <link rel="stylesheet" href="../node_modules/@spectrum-css/textfield/dist/index-vars.css">
    <link rel="stylesheet" href="../node_modules/@spectrum-css/accordion/dist/index-vars.css">
    <link rel="stylesheet" href="../node_modules/@spectrum-css/actionbutton/dist/index-vars.css">
    <link rel="stylesheet" href="../node_modules/@adobe/coral-spectrum/dist/css/coral.min.css">
    
  </head>
  <body class="spectrum spectrum--light">
    <div class="container">
      <h3>Configure your Custom Event</h3>
      <p>This action will trigger the Custom Event: event-action-trigger</p>
      <label>
        Event Category:
      </label>
      <div class="spectrum-Textfield"><input type="text" class="spectrum-Textfield-input css_fields" id="eventCategory" placeholder="Name of Event Category"></div>
      </div>
      <label>
        Event Action:
      </label>
      <div class="spectrum-Textfield"><input type="text" class="spectrum-Textfield-input css_fields" id="eventAction" placeholder="Name of Event Action"></div><br>
      </div>
      <label>
        Event Label:
      </label>
      <div class="spectrum-Textfield"><input type="text" class="spectrum-Textfield-input css_fields" id="eventLabel" placeholder="Name of Event Label"></div>
      </div>

    <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
    <script>
      window.extensionBridge.register({
        init: function(info) {
          if (info.settings) {
            eventCategory.value = info.settings.category;
            eventAction.value = info.settings.action;
            eventLabel.value = info.settings.label;
          }
        },

        getSettings: function() {
          return {
          category : eventCategory.value,
          action : eventAction.value,
          label : eventLabel.value
          }
        },

        validate: function() {
          return true
        }
      });
    </script>
  </body>
</html>
